body {
  font-family: 'Titillium Web', sans-serif;
}

.header {
  background-color: lightseagreen;
  box-shadow: 0px 0px 3px 2px gray;
  margin: 0px 0px 0px 0px;
}

.underline {
  padding: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid lightseagreen;
}

.padditem {
  margin-left: 15px;
}

a {
  color: darkturquoise;
}

a:hover {
  text-decoration: none;
}   

.badge-new {
  background-color: lightseagreen;
}

.down {
  margin-top: 10px;
}