<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PostIt!</title>
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>
    <header class="header">
      <h1>.... PostIt!</h1>
      <h4 class="right">username</h4>
    </header>

    <nav class="aside info">
        <h2>My Group...</h2>
        <!--dummy will be replaced by backend using templating engine later-->
        <ul>
            <li>Love and Money</li>
            <li>Javascript</li>
            <li>CSS</li>
        </ul>
    </nav>
    <section>
        <form action="/api/group" method="post">
            <input name="group" id="group" placeholder="Enter a group name"/>
            <button type="submit"> Create group</button>
        </form>
    </section>
    
    <!--scripts includes-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/home.js"></script>
  </body>
</html>