<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script/ src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>PostIt!</title>
    <link rel="stylesheet" href="../css/dashboard.css">
  </head>
  <body>
    <header class="jumbotron text-center header">
      <h2><span class="glyphicon glyphicon-edit"></span>&nbsp;PostIt!</h2>
      <section>
        <form action="/api/group" method="post">
            <input class="btn" name="group" id="group" placeholder="Enter a group name" required/>
            <button class="btn" type="submit"> Create group</button>
        </form>
      </section>
      <h5 class="text-right"><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;<em>*username*</em></a></h5>        
    </header>

    <section class="row">
      <!--section for groups user belongs to-->
      <nav class="col-sm-2">
        <h3 class="underline">My Groups</h3>
        <!--<input id="filtergroup" name="group" placeholder="search group"/>-->
        <ul class="list-unstyled">
          <li class="padditem"><a href="#">Javascript</a></li>
          <li class="padditem"><a href="#">HTML</a></li>
          <li class="padditem"><a href="#">jQuery</a></li>
        </ul>
      </nav>

      <!--section for viewing and creating posts on group-->
      <section class="col-sm-8">
        <h3 id="group_name" class="underline">*group_name*</h3>
        <section class="bkg_posts">
          <div>
            <form class="well well-lg" action="/api/" method="post">
              <textarea class="btn btn-block" placeholder="What say you to your group members?"></textarea>
              <label class="down">Priority</label> 
              <select class="down">
                <option value="normal">Normal</option>
                <option value="urgent">Urgent</option>
                <option value="important">Important</option>
              </select>
              <button class="btn btn-default pull-right down" type="submit"><span class="glyphicon glyphicon-share-alt">&nbsp;PostIt!</span></button>
            </form>
          </div>
          <p>Recents posts <span class="badge badge-new">2</span></p>
          <section id="posts">
            <div class="well well-sm">
              <p class="post-text"><span class="glyphicon glyphicon-envelope"></span> Javascript is fun!</p>
              <footer class="post-author">by Larrystone</footer>
            </div>
            
            <div class="well well-sm">
              <p class="">I wanna learn Javascript!</p>
              <p class="text-right small">by Larrystone</p>
            </div>
            
            <div class="well well-sm">
              <p class="post-text">The backend will surely make this app more fun!</p>
              <p class="post-author">by Larrystone</p>
            </div>
          </section>
        </section>
      </section>

      <!--section for viewing and adding users to group-->
      <nav class="col-sm-2">
        <h3 class="underline">Group Users</h3>
        <!-- section that contains current users -->
        <div class="currentusers">
          <h5><a class="adduser">Add user</a></h5>
          <ul class="list-unstyled">
            <li class="user"><span class="glyphicon glyphicon-user"></span>&nbsp;Shalom</li>
            <li class="user"><span class="glyphicon glyphicon-user"></span>&nbsp;Peace</li>
            <li class="user"><span class="glyphicon glyphicon-user"></span>&nbsp;AceHood</li>
          </ul>
        </div>

        <!-- section that contains available users -->
        <div class="availableusers">
          <h5><a class="done">Done</a></h5>
          <ul class="list-unstyled">
            <li><a href="#" class="user addable"><span class="glyphicon glyphicon-user"></span>&nbsp;Rock</a></li>
            <li><a href="#" class="user addable"><span class="glyphicon glyphicon-user"></span>&nbsp;Brandy</a></li>
            <li><a href="#" class="user addable"><span class="glyphicon glyphicon-user"></span>&nbsp;berry</a></li>
          </ul>
        </div>
      </nav>
    </section>
    
    <!--scripts includes-->
    <script src="../js/dashboard.js"></script>
  </body>
</html>