<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PostIt!</title>
    <link rel="stylesheet" href="../css/dashboard.css">
  </head>
  <body>
    <header class="header">
      <ul>
        <li class="haside"><h1>PostIt!</h1></li>
        <li class="haside">
          <form action="/api/group" method="post">
              <input name="group" id="group" placeholder="Enter a group name" required/>
              <button type="submit"> Create group</button>
          </form>
        </li>
      </ul>
      <h5>Welcome <em>*username*</em></h5>        
    </header>

    <section class="main">
      <!--section for groups user belongs to-->
      <nav class="aside groups">
        <h1>My Groups</h1>
        <hr/>
        <!--<input id="filtergroup" name="group" placeholder="search group"/>-->
        <ul>
          <li><a href="#">Javascript</a></li>
          <li><a href="#">HTML</a></li>
          <li><a href="#">jQuery</a></li>
        </ul>
      </nav>

      <!--section for viewing and creating posts on group-->
      <section class="aside posts">
        <h1 id="group_name">*group_name*</h1>
        <hr/>
        <section class="bkg_posts">
          <div>
            <form class="createpost" action="/api/" method="post">
              <textarea placeholder="what do yo have to say?"></textarea>
              <button type="submit">PostIt!</button>
            </form>
          </div>
          <p>Recents posts (3 unread)</p>
          <section id="posts">
            <div class="post-bkg">
              <p class="post-text">Javascript is fun!</p>
              <p class="post-author">by Larrystone</p>
            </div>
            
            <div class="post-bkg">
              <p class="post-text">I wanna learn Javascript!</p>
              <p class="post-author">by Larrystone</p>
            </div>
            
            <div class="post-bkg">
              <p class="post-text">The backend will surely make this app more fun!</p>
              <p class="post-author">by Larrystone</p>
            </div>
          </section>
        </section>
      </section>

      <!--section for viewing and adding users to group-->
      <nav class="aside users">
        <h1>*group_name* > Users</h1>
        <hr/>
        <!-- section that contains current users -->
        <div class="currentusers">
          <h5><a class="adduser">Add user</a></h5>
          <ul>
            <li class="user">Shalom</li>
            <li class="user">Peace</li>
            <li class="user">AceHood</li>
          </ul>
        </div>

        <!-- section that contains available users -->
        <div class="availableusers">
          <h5><a class="done">Done</a></h5>
          <ul>
            <li><a href="#" class="user addable">Rock</a></li>
            <li><a href="#" class="user addable">Brandy</a></li>
            <li><a href="#" class="user addable">lil berry</a></li>
          </ul>
        </div>
      </nav>
    </section>
    
    <!--scripts includes-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/dashboard.js"></script>
  </body>
</html>