<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PostIt!</title>
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>
    <header class="header">
      <h1>.... PostIt!</h1>
    </header>
    
    <section class="box info">
      <h2>What if you can create a network group?</h2>
      <h2>What if you can send a message to everyone on your network group?</h2>
      <h2>What if you can view messages posted on a network group you belong?</h2>
      <h2>What if you can just do all these online?</h2>
      <h2>What if....</h2>
      <h1>Well.... Today is your lucky day ):</h1>
    </section>

    <section class="box form">
      <ul class="tab-group">
        <li class="tab active" href="#login">Log In</li>
        <li class="tab" href="#signup">Sign Up</li>        
      </ul>
      
      <div class="tab-content">
        <div id="login">
          <h1>Welcome Back!</h1>

          <form action="/api/user/signin" method="post">

            <div class="field-wrap">
              <label>
              Email Address<span class="req">*</span>
              </label>
              <input type="email" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label>
              Password<span class="req">*</span>
              </label>
              <input id="pass" type="password" required autocomplete="off" />
            </div>

            <p class="right"><a href="#">Forgot Password?</a></p>

            <button class="button button-block" />Log In</button>

          </form>

        </div>
        <div id="signup">   
          <h1>Sign Up for Free</h1>
          
          <form action="/api/user/signup" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Choose a Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Re-enter Password<span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off" />
          </div>
          
          <button type="submit" class="button button-block"/>Let's Go!</button>
          
          </form>

        </div>
      </div>
    </section>
    
    <!--scripts includes-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/home.js"></script>
  </body>
</html>