<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script/ src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>PostIt!</title>
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>
    <header class="jumbotron text-center header nav navbar-fixed-top">
      <h2><span class="glyphicon glyphicon-edit"></span>&nbsp;PostIt!</h2>
      <marquee><em>... post it and be kept posted !...</em></marquee>
    </header>
    <div class="main row">
    <section class="box info hidden-xs col-sm-6">
      <h2>What if you can create a network group?</h2>
      <h2>What if you can send a message to everyone on your network group?</h2>
      <h2>What if you can view messages posted on a network group you belong?</h2>
      <h2>What if you can just do all these online?</h2>
      <h2>What if....</h2>
      <h1>Well.... Today is your lucky day ):</h1>
    </section>

    <section class="box form col-xs-12 col-sm-5">
      <ul class="tab-group">
        <li class="tab active" href="#login">Log In</li>
        <li class="tab" href="#signup">Sign Up</li>        
      </ul>
      
      <div class="tab-content">
        <div id="login">
          <h1>Welcome Back!</h1>

          <form action="/api/user/signin" method="post">

            <div class="field-wrap">
              <label>
              Email Address<span class="req">*</span>
              </label>
              <input type="email" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label>
              Password<span class="req">*</span>
              </label>
              <input id="pass" type="password" required autocomplete="off" />
            </div>

            <p class="right"><a href="#">Forgot Password?</a></p>

            <!--Remove this id later--> 
            <button id="submit" class="button button-block" />Log In</button>

          </form>

        </div>
        <div id="signup">   
          <h1>Sign Up for Free</h1>
          
          <form action="/api/user/signup" method="post">

          <div class="field-wrap">
              <label>
                Username<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Choose a Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Re-enter Password<span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off" />
          </div>
          
          <button type="submit" class="button button-block"/>Let's Go!</button>
          
          </form>

        </div>
      </div>
    </section>
    </div>
    
    <!--scripts includes-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/home.js"></script>
  </body>
</html>